/*顶部开始*/
.header{
	width: 100%;
	height: 147px;
	margin-bottom: 10px;
}
.header-main{
	margin: 0 auto;
	width: 1190px;
}
.logo{
	float: left;
	margin-top: 36px;
}
.header-title{
	margin-top: 63px;
	float: left;
	margin-left: 5px;
}
.gray-line{
	color: #C9C9CC;
}
.header-title li{
	font-family: "微软雅黑";
	font-size: 17px;
	float: left;
	margin-right: 15px;
}
.header-right{
	margin-top: 57px;
	float: right;
	padding: 8px 6px;
}
.header-right a{
}
.header-right ul{
	position: relative;
	width: 530px;
}
.header-right ul li{
	position: absolute;
	text-align: center;
}
.content-title-li{
	padding-top: 10px;
	padding-left: 5px;
}
.gray-line-li{
	width: 530px;
    left: 0;
    top: 0px;
    padding: 0;
    border-top: 4px solid #d2d2d2;
    height: 0;
}
.red-line-li{
	left: 0;
    top: 0px;
    padding: 0;
    border-top: 4px solid #e81355;
    height: 0;
    width: 130px;
}
.red-circle-li{
	top: -3px;
	padding-left: 5px;
}
.header-right ul span{
	display: inline-block;
	width: 130px;
	height: 30px;
	float: left;
}
.header-right ul span img{
	margin: 0 auto;
	width: 10px;
	height: 10px;
}
/*顶部结束*/
/*内容开始*/
.main{
	width: 1190px;
	margin: 0 auto;
	margin-top: 36px;
	margin-bottom: 150px;
	font-size: 13px;
}
.main-t{
	padding: 10px 5px;
}
.main-t a{
	float: right;
	color: red;
}
.goods-content{
	width: 1188px;
	min-height: 150px;
	border: 1px solid #c9c9c9;
}
.empty-cart{
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.goods-show{
	display: none;
}
ul.goods-content-t{
	padding-left: 2px;
	float: left;
	border-bottom: 1px solid #c9c9c9;
	background-color: #eeeeee;
}
ul.goods-content-t li{
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.goods-content-t1{
	text-align: left;
	width: 262px;
	position: relative;
}
.goods-content-t2{
	width: 300px;
}
.goods-content-t3{
	width: 152px;
}
.goods-content-t4{
	width: 157px;
}
.goods-content-t5{
	width: 163px;
}
.goods-content-goods{
	padding-left: 2px;
}
.goods-content-goods li{
	float: left;
	height: 190px;
	line-height: 190px;
	text-align: center;
}
.reduceBtn,
.addBtn {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
	background-color: #EEEEEE;
	line-height: 24px;
}

a.reduceBtn,
a.addBtn {
	text-decoration: none;
	font-size: 16px;
	font-weight: bolder;
	margin-top: 10px;
	float: left;
	color: #000000;
}
a.reduceBtn:hover,
a.addBtn:hover{
	background-color: #F6F6F6;
}

input.proAmo  {
	display: inline-block;
	width: 43px;
	height: 20px;
	margin: 0px 10px;
	text-align: center;
	padding: 0;
	float: left;
	margin-top: 10px;
}
.goods-content-goods .goods-content-t4{
	width: 137px;
	padding-left: 20px;
	padding-top: 75px;
	height: 115px;
}
.goods-content-goods .goods-content-t2{
	padding-top: 75px;
	line-height: 20px;
	height: 115px;
}
.goods-content-goods .goods-content-t1 img{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding-top: 20px;
}
.proPrice,.firstPrice{
	font-size: 13px;
	font-family: "微软雅黑";
}
.checkbox-bg-img01{
	background-image: url(../img/shoppingCart/checkbox.png);
}
.checkbox-bg-img02{
	background-image: url(../img/shoppingCart/check2.png);
}
.goods-checkbox,.checkbox-bg{
	display: block;
	width: 23px;
	height: 23px;
	position: absolute;
	left: 10px;
	top: 75px;
}
.goods-checkbox{
	left: 6px;
	top: 73px;
	border: 0;
	z-index: 99;
	opacity: 0;
}
.goods-content-bottom{
	width: 1164px;
	height: 109px;
	line-height: 60px;
	padding: 0 12px;
	border-top: 1px solid #c9c9c9;
	background-color: #eeeeee;
	display: none;
}
.g-c-b-l input{
	width: 16px;
	height: 16px;
	margin-top: 21px;
}
.g-c-b-l li{
	float: left;
	margin-right: 5px;
}
.g-c-b-r{
	float: right;
}
.g-c-b-r li{
	float: left;
	margin-right: 50px;
}

.g-c-b-r li.pink{
	font-weight: bold;
}
.goods-content-bottom button{
	float: right;
	width: 176px;
	height: 30px;
	padding: 0 12px;
	font-size: 16px;
    background: #e21357;
    border: 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    outline: none;
    cursor: pointer;
    margin-right: 30px;
}
.goods-content-bottom button:hover{
	background-color: #cc1c23;
}
.b-price,.b-integral-all,.b-integral,.b-price,.b-price-all{
	font-family: "微软雅黑";
}

.deleteBtn{
	background: white;
	cursor: pointer;
	font-size: 16px;
	border: 0;
	color: #f66;
}
/*内容结束*/































